<% provide :title, "Register" %>
<div class="vh-100">
  <main class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field form-outline mb-4">
            <%= f.label :username, class: "form-label" %><br />
            <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control form-control-lg", placeholder: "Please choose a username." %>
          </div>

          <div class="field form-outline mb-4">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autocomplete: "email", class: "form-control form-control-lg", placeholder: "Enter your email." %>
          </div>

          <div class="field form-outline mb-4">
            <%= f.label :password, class: "form-label" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Enter a safe password, not used on other sites." %>
          </div>

          <div class="field form-outline mb-4">
            <%= f.label :password_confirmation, class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg", placeholder: "Password confirmation" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary btn-lg mb-3" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </main>
</div>
