<% provide :title, "Log In" %>
<section class="vh-100">
  <main class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-6 col-md-9 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

      <h2>You can play right after this...</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-outline mb-4">
          <%= f.label :login, class: "form-label" %><br />
          <%= f.text_field :login, autofocus: true, autocomplete: "username", class: "form-control form-control-lg", placeholder: "Enter your email or username." %>
        </div>

        <div class="field form-outline mb-4">
          <%= f.label :password, class: "form-label" %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg", placeholder: "Enter your password." %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-outline mb-4">
            <%= f.check_box :remember_me, class: "form-check-input me-2" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary btn-lg"%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
    </div>
  </main>
</section>
